select { display: block; }
th { white-space: nowrap; }

.delete-btn, .secondary-btn {
  background-color: #fff;
  color: black;
}

.error {
  color: red;
}

.nav-wrapper {
  label {
    color: white;
  }
}

.markdown {
  ul:not(.browser-default) {
    padding-left: 1em;
    li {
      list-style-type: disc;
    }
  }
}

.header-row {
  margin-bottom: 0;

  .btn {
    margin-top: 1.75rem;
  }
}
.controls-row {
  margin-bottom: 0;
  background: #f8f8ff;
  padding: 1rem;

  label {
    position: static;
    display: inline-block;
  }
  select {
    width: auto;
    display: inline-block;
  }
}

#import-show {
  background: #f8fff8;
}
